* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 15pt Arial;
    background: #EEEEEE;
}

section {
    margin: auto;
    margin-top: 50px;
    background-color: #FFFFFF;
    width: 80%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(22, 22, 22, 0.541);
    
}

.cabecalho {
    background-color: #5C9EAD;
    width: 100%;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

.div-info {
    margin-top: 60px;
    margin-left: 30px;
    
}

#input-idade {
    width: 200px;
    height: 30px;
}

#input-alt {
    width: 200px;
    height: 30px;
}

#input-peso {
    width: 200px;
    height: 30px;
}

#res {
    
}
